.custom-scrollbar::-webkit-scrollbar {
    width: 4px; 
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: #2d2d2d; 
    border-radius: 10px; 
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background: linear-gradient(45deg, #484d49, #484d49); 
    border-radius: 10px;
    transition: background 0.3s ease-in-out;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(45deg, #1e6d32, #0f4d20); 
}
